/* Font - size */

$xsmall: 0.750em;
$small: 0.875em;
$medium: 1.125em;
$large: 1.500em;
$xlarge: 2.000em;
$epic: 3.000em;
$jumbo: 4.000em;

/* Font - family */

$basic: 'Raleway', sans-serif;

/* Theme - colors */

$blue: rgb(18, 55, 125);
$orange: rgb(247, 136, 47);
$yellow: rgb(249, 194, 49);
$gray: rgb(219, 200, 170);
$white: rgb(239, 238, 233);
$black: rgb(0, 0, 0);


