.BoardCell {
  border: 1px solid black;
  margin-left: -1px;
  margin-bottom: -1px;
  border-radius: 50%;

  max-width: 15px;
  height: 15px;
  flex: 0 0 100%;

  &:hover {
    background-color: green;
  }
}

.alive {
  background-color: green;
}

.death {
  background-color: $gray;
}
