.BoardCell {
  border-radius: 50%;

  max-width: 15px;
  height: 15px;
  flex: 0 0 100%;

  &:hover {
    background-color: green;
  }
}

.alive {
  background-color: green;
}

.death {
  background-color: $gray;
}

.disabled {
  pointer-events: none;
  border-radius: 0;
}
