.GameControls {
}

.GameControls__label {
  font: $medium $basic;
  color: $gray;
  font-weight: 800;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;


  &::after {
    content: '';
    width: 100px;
    height: 2px;
    margin: 5px auto;
    display: block;
    background-color: $gray;
  }
}

.GameControls__buttons {
  display: flex;
}

.GameControls__button {
  cursor: pointer;
  background: $gray;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

  &:hover, &:focus {
    transform: scale(1.2);
  }
}

.GameControls__icon {
  fill: $blue;
  width: 36px;
  height: 36px;
}
